<div class="container-fluid" >
  
  <div class="row">
          <div class="col-md-12">
          <nav class="navbar navbar-expand-sm navbar-light bg-danger" >
              <a class="navbar-brand" href="#">
                  <img src="img.jpg" alt="" style="width: 80px;">
              </a>
              <div class="col-md-6">
                <h1>DONATE THE BLOOD SAVE THE LIFE</h1>
              </div>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                   <li class="nav-item active">
                     <a class="nav-link" href="#" >Home <span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="home.html">Donor Register</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="#">Send Request</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">View Request</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Search</a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                       <a class="dropdown-item" href="#">A+</a>
                       <a class="dropdown-item" href="#">B+</a>
                       <a class="dropdown-item" href="#">A-</a>
                       <a class="dropdown-item" href="#">B-</a>
                       <a class="dropdown-item" href="#">AB+</a>
                       <a class="dropdown-item" href="#">AB-</a>
                       <a class="dropdown-item" href="#">O+</a>
                       <a class="dropdown-item" href="#">O-</a>
                     <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="#">Something else here</a>
                   </div>
                 </li>
               </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>

          </div> 
  </div>
</div>
