<h1>student form</h1>
<table class="t" border="2" cellpadding="10" cellspacing="10" align="center">
    <tr>
        <th>ROLL NO</th>
        <th>NAME</th>
        <th>PLACE</th>
        <th>CONTACT NO</th>
    </tr>
    <tr>
        <td>1</td>
        <td>durga</td>
        <td>valanchery</td>
        <td>8976545656</td>
    </tr> <tr>
        <td>2</td>
        <td>ammu</td>
        <td>valanchery</td>
        <td>8976545656</td>
    </tr>
    <tr>
        <td>3</td>
        <td>achu</td>
        <td>valanchery</td>
        <td>8976545656</td>
    </tr> <tr>
        <td>4</td>
        <td>hari</td>
        <td>valanchery</td>
        <td>8976545656</td>
    </tr>



</table>

